* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Top row */
.top {
    display: flex;
    height: 15%;
}

.logo {
    width: 15%;
    border: 1px solid black;
}

.heading {
    width: 85%;
    border: 1px solid black;
}

/* Horizontal menu */
.menu {
    height: 10%;
    border: 1px solid black;
}

/* Main content area */
.content {
    display: flex;
    height: 75%;
}

.left {
    width: 15%;
    border: 1px solid black;
}

.big {
    width: 85%;
    border: 1px solid black;
}

/* iframe styling */
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
